**/*.aux
**/*.auxlock
**/*.fls
**/*.log
**/*.out
**/*.ps
**/*.maf
**/*.mtc
**/*.mtc0
**/*.synctex.gz
**/*.fdb_latexmk
**/*.xdv
**/svg-inkscape
**/_minted-*

# avoid subfig compiles & temps
*/*/*.pdf
*/**/-*