**/*.aux
**/*.auxlock
**/*.fls
**/*.log
**/*.lof
**/*.lot
**/*.toc
**/*.out
**/*.ps
**/*.maf
**/*.mtc
**/*.mtc0
**/*.synctex.gz
**/*.fdb_latexmk
**/*.xdv
**/*.asv
**/svg-inkscape
**/_minted*

**/noupload
